# Ignore everything
*
# Unignore anything that is a directory
!*/

# File type whitelist

# gitignore itself
!.gitignore

# Verilog source files
!*.v

# SystemVerilog files, just in case
!*.sv

# VHDL source files
!*.vhd

# Vivado project files
!*.xpr

# C source files
!*.c

# Markdown Documents
!*.md

# Potential test files in plain text
!*.txt

# FPGA Constraints files
!*.xdc

# CSV files to store test cases for testbenches
!*.csv

# Python scripts for miscellaneous uses
!*.py

# DCP files
!*.dcp

#################################################

# Other file suffixes

# Auxiliary files in Microsoft Excel 2007~ format
!*.xlsx

# Extra image formats (any image format can be put here)
!*.jpg

# draw.io diagrams
!*.drawio
